body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("/static/background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}
.navbar { 
    width: 100%; 
    background-color: rgba(16, 126, 134, 0.567);
    position: fixed; 
    top: 0; 
    z-index: 10; 
}

.container {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 800px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.weather-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.weather-info {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 15px;
    width: 30%; 
    text-align: left;
}


.login-container {
    background-color:rgba(16, 126, 134, 0.567);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}